.containerHome {
  display: flex;
  flex-direction: column;
  max-width: 736px;
  margin:  0 auto;
}

.containerHome .form {
  display: flex;
  width: 100%;
  margin-top: calc(0px - 1.5rem - 6px);
  gap: 0.5rem;
}

.form .inputTask {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  background: var(---gray--500);
  font-size: 1rem;
  font-weight: 400;
  line-height: 140%;
  color: var(---gray--100);

}

.form .inputTaskError {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  background: var(---gray--500);
  font-size: 1rem;
  font-weight: 400;
  line-height: 140%;
  color: var(---gray--100);
  box-shadow: 0px 0px 4px var(---danger);

}

.form .inputTask::placeholder {
  color: var(---gray--300);
}

.form .inputTask:focus {
  outline: none;
  box-shadow: 0 0 2px var(---blue-dark);
}

.form .btnSubmit {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background: var(---blue-dark);
  color: var(---gray--100);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 140%;
  transition: 0.5s;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.btnSubmit .plusIcon {
  text-align: center;
  line-height: 10px;
  border: 2px solid var(---gray--100);
  border-radius: 999px;
  font-size: 0.875rem;
  margin-left: 0.5rem;
  width: 1rem;
  height: 1rem;
  font-weight: 400;
}

.btnSubmit:hover{
  background: var(---purple-dark);
  transition: 0.5s;
}

.containerHome .containerTasks {
  margin-top: 4rem;
}

.containerTasks .headerTasks {
  display: flex;
  justify-content: space-between;

}

.containerTasks .createTasks, .completedTasks {
  display: flex;
  gap: 0.5rem;
}

.completedTasks span, .createTasks span{
  font-size: 0.75rem;
  font-weight: 700;
  color: var(---gray--200);
  background: var(---gray--400);
  padding: 0.125rem 0.5rem;
  border-radius: 999px;

}

.createTasks strong {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(---blue);
}

.completedTasks strong {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(---purple);
}


.containerTasks .listTaksCreate {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
  margin-top: 1.5rem;
}


.listTaksCreate ul {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.containerTasks .emptyTasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  border-top: 1px solid var(---gray--400);
  margin-top: 1.5rem;
}

.emptyTasks strong {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 140%;
  color: var(---gray--300);
  text-align: center;
}

.emptyTasks p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 140%;
  color: var(---gray--300);
  text-align: center;
}

@media (max-width: 778px){
  .containerHome{
    padding: 0 1rem;
  }
}
